---
import AboutMe from "../components/AboutMe.astro";
import Proyects from "../components/Proyects.astro";
import SkillsSlide from "../components/SkillsSlide.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Full Stack Developer - Joaquin Alonso">
  <LandingHeader />
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <AboutMe />
    </div>
    <div class="snap-center">
      <SkillsSlide />
    </div>
    <div class="snap-center">
      <Proyects />
    </div>
  </main>
</Layout>
