---
import Section from "./Section.astro";
---

<Section
  title="I'm Web Developer And Student"
  subtitle="Versatile web designer with experience in graphic and web design. My dedication to continually learning about new web design trends and concepts has made me a professional who can take on any challenge. I also have 10 years of experience in the sales area, so I can help clients solve business problems with technological solutions. In the field of graphic design I like to create relevant and original products that improve brand recognition, while maintaining a creative mindset that helps companies stay current in a constantly evolving market."
  color="white"
  id="about-me"
>
  <div
    slot="footer"
    class="sm:flex-col md:flex-col lg:flex-col sm:px-3 gap-x-6 flex mx-auto"
  >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href=""
    >
      Watch my video pitch
    </a>
  </div>

  <img
    slot="background"
    alt=""
    class="h-full w-full object-cover object-center"
    src="mountains-dos.jpg"
  />
</Section>
