---
import Section from "./Section.astro";
---

<Section>
  <div slot="footer">
    <spline-viewer
      class="object-center object-cover h-screen w-screen absolute top-0 bottom-0 left-0"
      url="https://prod.spline.design/yXZ27GzZNu-2j5Ny/scene.splinecode"
    ></spline-viewer>
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="https://drive.google.com/file/d/1XiSkGb9CDEEThyN75MQien74hwIAllzC/view?usp=sharing"
    >
      Download resume</a
    >
  </div>

  <div slot="background" class="object-center object-cover h-full w-full"></div>
</Section>
<script
  type="module"
  src="https://unpkg.com/@splinetool/viewer@0.9.354/build/spline-viewer.js"
></script>
