---
import Section from "./Section.astro";
import Card from "./Card.astro";
---

<Section color="black" id="proyects">
  <div
    slot="footer"
    class="sm:flex-col md:flex-col lg:flex-col sm:px-3 gap-x-6 flex mx-auto"
  >
    <Card
      title="My Proyects"
      img="hologram.png"
      subtitle1="Proyect 1 - Pokedex"
      parrafo1="Node.js | React | PostgreSQL"
      img1=""
      subtitle2="Proyect 2 - Inmobiliaria"
      parrafo2="Node.js | React | PostgreSQL"
      img2=""
      subtitle3="Proyect 3 - Tienda online"
      parrafo3="Node.js | React | Tailwind | PostgreSQL"
      img3=""
      subtitle4="Proyect 4 - Ecommerce"
      parrafo4="Node.js | React | Redux | ChakraUI | MongoDB"
      img4=""
    />
  </div>
  <img
    slot="background"
    alt=""
    class="h-full w-full object-cover object-center"
    src="/mountains-tres.jpg"
  />
</Section>
